{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
   <div class="row">
        <div class="col align-self-start" style="font-size: smaller;">
        Code candidat : {{paiement.candidat.id}}
        </div>
        <div class="col align-self-center">
            <h3>N° de Réçu :
            {{paiement.id}}
            </h3> 
        </div>
        <div class="col align-self-end">
            <img src="{{asset('images/logo.jpg')}}"alt="..." height="80" style="float: right;">
        </div>  
    </div>
    <div class="row" style="margin-top: 80px;">
        <div class="col-6">
            <label  style="font-size: 20px; margin-right: 20px;">Nom : </label>
                {{paiement.candidat.nom |capitalize }}
        </div>
        <div class="col-6">
            <label style="font-size: 20px; margin-right: 20px;">Prénom : </label>
                {{paiement.candidat.prenom |capitalize }}
        </div>
    </div>
    <div class="row" style="margin-top: 80px;">
        <div class="col-6">
            <label style="font-size: 20px; margin-right: 20px;">Date : </label>
                {{ paiement.datePay ? paiement.datePay|date('Y-m-d') : '' }}

        </div>
        <div class="col-6">

            <label style="font-size: 20px; margin-right: 20px;">Formation : </label>
                {% for f in paiement.candidat.formation %}
                    {{ (f.nom) }}
                    {% endfor %}
        </div>
    </div>
    <div class="row" style="margin-top: 80px;">
        <div class="col-6">
                    <label style="font-size: 20px; margin-right: 20px;">Montant (Dt) : </label>

             {{ paiement.montant }}

        </div>
    </div>
                    <button onclick="Imprimer()" id="btnPrint" class="btn btn-primary" style="margin-bottom:15px;">Imprimer</button>

    <script>
        function Imprimer() {
            document.getElementById('btnPrint').style.display='none';
            window.print();
            document.getElementById('btnPrint').style.display='block';
    
        }
    </script>

    {# <h1>Paiement</h1>

    <table class="table">
    {{dump (paiement.candidat.nom)}}
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paiement.id }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ paiement.montant }}</td>
            </tr>
            <tr>
                <th>Date de payment </th>
                <td>{{ paiement.datePay ? paiement.datePay|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table> 
    <a href="{{ path('paiement_index') }}">back to list</a>

    <a href="{{ path('paiement_edit', {'id': paiement.id}) }}">edit</a>

    {{ include('paiement/_delete_form.html.twig') }}#}

{% endblock %}
