{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{% block body %}
    <h1>Modifier Candidat</h1>

    {{ include('candidat/_form.html.twig', {'button_label': 'Modifier'}) }}

        <table class="table">
        <tr>
            <th>Code paiement</th>
            <th>Date de paiement</th>
            <th>Montant</th>
        </tr>
           {% for p in candidat.paiements %}
                <tr>
                    <td>{{p.id}}</td>
                    <td>{{p.datePay|date('d-m-Y')}}</td>
                    <td>{{p.montant|format_currency('TND')}}</td>
                    
                    <td><a href="{{ path('paiement_show', {'id': p.id}) }}"class="btn btn-info" style="margin: 5px;" id="btn-hide1"><i class="far fa-eye"></i></a></td>
                    <td><a href="{{ path('paiement_edit', {'id': p.id}) }}"class="btn btn-warning"  style="margin: 5px;" id="btn-hide2"><i class="fas fa-user-edit"></i></a></td>

                </tr>
            {% endfor %}
    </table>
    <a href="{{ path('candidat_index') }}"class="btn btn-success">Retour à la liste</a>

    {{ include('candidat/_delete_form.html.twig') }}
{% endblock %}
